/* .container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0px 0px 2px 0px;
} */
.albums {
    padding: 50px;
}
.albums .albums__item {
    display: grid;
    justify-content: center;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 120px 120px 120px;
    gap: 100px  ;

}
.col {
    border: 1px solid black;
    padding: 10px;
}
.btn-success {
    width: 100px;
    height: 50px;
}
